<!DOCTYPE html>
<html>
<head>
  <title>Greetings rails</title>
  <%= stylesheet_link_tag    "greetings/rails/application", media: "all" %>
  <%= javascript_include_tag "greetings/rails/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
